# Python
python/build
python/dist
python/cryptolab.egg-info
__pycache__
.venv

# .NET
.NET/cryptoLab/.vs
.NET/cryptoLab/cryptoLab.sln
.NET/cryptoLab/TestLib
.NET/cryptoLab/cryptoLab/bin
.NET/cryptoLab/cryptoLab/obj
.NET/cryptoLab/cryptoLab/CryptoLab.csproj
.NET/cryptoLab/cryptoLab/CryptoLab.generated.sln

publication_notes.txt
.DS_Store